footer{
    background-color: variables.$grey;
    padding: 20px 0 30px 0;
    color:white;
    h1 {
        font-size: 20px;
        margin-top: 0;
        padding-top: 20px;
        padding-left: 20px;        
    }
    ul, a {
        list-style: none;
        line-height: 10px;
        padding-left: 20px;
    }
    i {
        font-size: 12px;
        color: variables.$white;
    }
    a {
        color: variables.$white;
        font-style: normal;
        text-decoration: none;
        padding-left: 0;
        }
}

