footer{
    background-color: $grey;
    padding-bottom: 30px;
    color:white;
    h1 {
        font-size: 20px;
        font-family: "Shrikhand", cursive;
        margin-top: 0;
        padding-top: 20px;
        padding-left: 40px;
    }
    ul, a {
        font-family: "Roboto";
        list-style: none;
        line-height: 1rem;
    }
    i {
        font-size: 1.2rem;
        width: 1.2rem;
        color:white;
        padding-right: .3rem;
        padding-left: .3rem;
    }
    a {
        color:white;
        font-style: normal;
        text-decoration: none;
        }
}
