.colored-button {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    margin-bottom: 20px;
    button {               
        align-items: center;
        width:fit-content;
        height: 50px;
        font-size: 18px;
        font-weight: bold;
        color: white;
        background: linear-gradient(to bottom right,#FF79DA, #9356DC 95%);
        border: none;
        border-radius: 25px;
        @include boxshadow1;
        p {
            @include margin0;
            padding-left: 40px;
            padding-right: 40px;
            font-weight: lighter;
        }
        
    }
}

