button {               
    align-items: center;
    width:250px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: linear-gradient(to bottom right,#FF79DA, #9356DC 95%);
    border: none;
    border-radius: 25px;
    
}