.heart-regular {
    position:absolute;
    transform: scale(.9);
}
.heart-solid {
    position:relative;
    opacity:0;
    // transparent to be able to use the background-color
    color: transparent;
    background-clip: text;      
    background-image: linear-gradient(to bottom right,#FF79DA, #9356DC 95%);
    transform: scale(1.1);
    transition: opacity 800ms;   
    // the solid icon moves over the regular one
    // change :hover by :active to change the behaviour 
    &:hover {
        opacity:1;        
    }
}