.fonctionnement {
    padding: 10px 0 30px 20px;
    h2 {
        padding-bottom: 10px;        
    }
    &__allbtn {
        padding-bottom: 20px;
        @media (min-width:600px){
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
    }
}
.btn-fonct {
    width: 88%;
    min-width: 300px;
    max-width: 380px;
    height:70px;
    background-color: $lightgrey;
    margin: 0 0 20px 15px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    @include boxshadow2;
    &:hover {
        background-color: $lightlight;
        @include boxshadow3;

    }
    i {
        padding-left: 10px;
        color: $grey2;
    }
    p {
        color: black;                
    }
    @media  (min-width: 600px) {
        margin-right: 20px;
    }
}
.text-fonctionnement1 {
    padding-left: 25px;
}
.text-fonctionnement2 {
    padding-left: 20px;
}
.text-fonctionnement3 {
    padding-left: 15px;
}
.num {
    background-color: $primary;
    color:white;
    width:30px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left:-13px;
    p {
        color: white;
        font-weight: bold;
    }
}
}