.localisation {
    background-color: $greylocalisation;
    height:50px;
    display: flex;
    align-items: center;
    justify-content: center;
    .localisation-icone-text {
        display: flex;
        justify-content: center;
    }
    input {
        width: 130px;
        border: none;
        background-color: $greylocalisation;
        padding-left: 20px;
        font-weight: bold;
    }
}