// cards menus per restaurant
.restaurants {
    padding: 30px 20px 20px 20px;
    background-color: variables.$lightgrey;    
}

// container card restaurant
.cont-restaurant-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
// the card
.restaurant-card {
    width: 335px;
    height:250px;
    background-color: variables.$white;
    margin-bottom: 20px;
    border-radius: 20px; 
    @include mixins.boxshadow1; 
    margin-right: 20px;  
    img {
        border-radius: 20px 20px 0 0 ;
    }
    &:hover {
        text-decoration: none;
        color: variables.$black;
        @include mixins.boxshadow4;
        transition: box-shadow .6s linear;
        /* color option when :hover
        h3,p {
            color: variables.$primary;
        }
        */
    }
.image-restaurant {
    height: 170px;
    }
// Nouveau on image
.text-restaurant {
    width: 80px;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    background-color: variables.$third;
    color: #008766;
    border-radius: 3px;
    // positioning
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 160px;
    left: 240px;
}
// texte of the card card
.all-infos {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    & .coeur{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 20px;
    }
}
.text-infos {
    h3{
        margin: 0;
        padding: 10px 0 0 10px;
    }
    p{
        margin: 0;
        font-size: 18px;
        padding-left: 10px;
        padding-top: 5px;
    }
}
}