// les cards des menus par restaurant
.restaurants {
    padding: 30px 20px 20px 20px;
    background-color: $lightgrey;    
}
// conteneur card restaurant
.cont-restaurant-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
//la card
.restaurant-card {
    width: 335px;
    height:250px;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 20px; 
    @include boxshadow1; 
    margin-right: 20px;  
    img {
        border-radius: 20px 20px 0 0 ;
    }
.image-restaurant {
    height: 170px;
    }
// Nouveau sur image du restaurant
.text-restaurant {
    width: 80px;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    background-color: #99E2D0;
    color: #008766;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 160px;
    left: 240px;
    }
// texte de la card
.all-infos {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    i {
        padding-right:20px;
    }
}
.text-infos {
    h3{
        margin: 0;
        padding: 10px 0 0 10px;
    }
    p{
        margin: 0;
        font-size: 18px;
        padding-left: 10px;
        padding-top: 5px;
    }
}
}