header h1{     
    font-family: $font-logo-titre;
    font-size: 30px;
    @include margin0;
    padding: 20px 0 10px 0;
    display: flex;
    justify-content: center;
}

.header-text {
    @include margin0;
    @include lightgrey-bc;
    .header-text-h2 {
            padding: 40px 0 10px 0;
        }
    h2 {
        @include margin0;        
        font-weight: bolder;
        display: flex;
        justify-content: center;
    }
    .header-text-p {
        padding-bottom: 30px;
    }
    p {
        @include margin0;
        font-size: 18px;
        font-weight: lighter;
        display: flex;
        justify-content: center;
    }
}
.explorer {
    padding-bottom: 60px;
}
.text-fonctionnement {
    padding: 25px;
}
