header h1{  
    @include mixins.margin0;   
    font-size: 30px;    
    padding: 20px 0 10px 0;
    display: flex;
    justify-content: center;
}
.header-text {
    @include mixins.margin0;
    @include mixins.lightgrey-bc;
    padding-bottom: 40px;
    &__h2 {
            padding: 40px 0 10px 0;
        }
    h2 {
        @include mixins.margin0;        
        display: flex;
        justify-content: center;
    }
    &__p {
        padding-bottom: 30px;
    }
    p {
        @include mixins.margin0;
        font-size: 18px;
        display: flex;
        justify-content: center;
    }
}
.explorer {
    padding-bottom: 60px;
}
.text-fonctionnement {
    padding: 25px;
}
