.cont-restaurant-card {
    padding-bottom: 10px;
}
.titre-restaurant {
    i {
        padding-top: 10px;
    }
    h1 {
        position: relative;
        left:-20px;
    }
}
.image-menu {    
    img {
        width: 100%;
        object-fit: cover;
    }
}
.menu-complet {
    @include lightgrey-bc; 
    border-radius: 40px 40px 0 0;  
    position: relative;
    bottom: 50px;
}

.nom-restaurant {    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    h1{
        font-family: "Shrikhand", cursive;
        font-size: 30px;
        @include margin0;
        padding: 30px 0 20px 20px;
    }
    img {
        padding-right: 40px;
        width:35px;
        height: auto;
        
    }
}
.entreesplatsdesserts{
    padding: 0 0 0 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.all-plats, .all-entrees, .all-desserts {
    margin-right:20px;
    h2 {
        font-size: 18px;
        font-weight: lighter;
    }
}
.colored-button {
    padding-top: 30px;
    padding-bottom: 60px;
}
