.titre-restaurant {
    padding-top: 20px;
    
}
.image-menu {    
    img {
        width: 100%;
        object-fit: cover;
    }
}
.nom-restaurant {
    @include lightgrey-bc;
    position: relative;
    bottom: 70px;
    border-radius: 40px 40px 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    h1{
        font-family: "Shrikhand", cursive;
        @include margin0;
        padding: 30px 0 20px 30px;
    }
    i {
        padding-right: 50px;
    }
}
.plats {
    background-color: $lightgrey;
    @include margin0;
    h2 {
        padding-left: 20px;
        font-size: 16px;
    }
}
.all-entrees {
    background-color: $lightgrey;
    margin-left: 20px;
}
.plat-box {
    width: 88%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .1);
    margin-bottom: 20px;
        h3, p {
            @include margin0;        
            padding-left: 20px;
    }
    h3 { 
        font-size: 15px;
        padding-top: 10px;        
        font-weight: 700;}
    p {
        padding-top: 5px;
        font-size: 14px;
    }
    .prix {
        margin-right: 20px;
        font-weight: bold;
    }
}
.description-prix {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
}