// VARIABLES

// Couleurs
$primary: #9356DC;
$secondary: #FF79DA;
$third: #99E2D0;
$grey : #353535;
$lightgrey: #F6F6F6;
$lightlight: #FAFAFA;
$grey2: #7E7E7E;
$greylocalisation: #EAEAEA;
$white: white;